#main {
    background: #ffffff;
    padding: 30px 0;
    overflow: hidden;
    .bread-nav {
        margin-bottom: 20px;
        font-size: 14px;
        span {
            color: #333333;
            &:nth-of-type(3) {
                color: #999999;
            }
        }
    }
    .main-centent {
        .main-sort {
            margin-bottom: 10px;
            .sort-centent {
                padding: 5px 10px;
                line-height: 35px;
                color: #333333;
                background: #e8e8e8;
                border-radius: 3px;
                font-size: 12px;
                .sort-left {
                    div {
                        display: inline-block;
                        // width: 50px;
                        // height: 36px;
                        cursor: pointer;
                        color: #333333;
                        span {
                            // display: inline-block;
                            // width: 100%;
                            display: block;
                            text-align: center;
                            background: #ffffff;
                            padding: 0 10px;
                            i {
                                font-size: 12px;
                            }
                        }
                        .activesort {
                            color: #ffffff;
                            background: #d62528;
                            // border: 1px solid #d62528;
                        }
                    }
                }
                .sort-right {
                    span {
                        color: #d62528;
                    }
                }
            }
        }
        .listul {
            padding: 10px 0;
            margin: 0 -5px;
            li {
                float: left;
                width: 230px;
                height: 330px;
                margin: 0 5px;
                margin-bottom: 12px;
                background: #ffffff;
                // position: relative;
                .commodity-right-pic {
                    margin: 54px auto 20px;
                    position: relative;
                    overflow: hidden;
                    width: auto;
                    text-align: center;
                    height: 200px;
                    vertical-align: middle;
                    &:hover {
                        .listcar {
                            bottom: 0px;
                        }
                    }
                    img {
                        width: auto;
                        max-height: 200px;
                        display: block;
                        cursor: pointer;
                    }
                    .listcar {
                        right: 0;
                        bottom: -40px;
                        left: 0;
                        height: 40px;
                        font-size: 14px;
                        line-height: 40px;
                        color: #ffffff;
                        text-align: center;
                        cursor: pointer;
                        background: rgba(0, 0, 0, 0.5);
                        transition: all 0.4s ease;
                        position: absolute;
                        &:hover {
                            background-color: #ca1823;
                        }
                    }
                }
                .commodity-right-info {
                    padding: 0 20px;
                    .info-t {
                        text-align: center;
                        height: 17px;
                        line-height: 17px;
                        font-size: 17px;
                        font-weight: 400;
                        color: #333;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-bottom: 11px;
                        cursor: pointer;
                    }
                    .info-c {
                        text-align: center;
                        height: 14px;
                        line-height: 14px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #b0b0b0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-bottom: 28px;
                    }
                    .info-b {
                        // position: absolute;
                        width: 100%;
                        // left: 0;
                        bottom: 50px;
                        // text-align: center;
                        span {
                            font-size: 17px;
                            font-weight: 500;
                            color: #cc0000;
                        }
                    }
                }
            }
        }
    }
}

.main-cenrighttop,
.numgod {
    display: none;
}

.listaddcar {
    // width: 100%;
    // height: 100%;
    // position: relative;
    width: 766px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    display: none;
    .listaddcar-dialoog {
        .dialoog-top {
            overflow: hidden;
            color: #333333;
            background: #ffffff;
            border-bottom: 1px solid #eaeaea;
            border-radius: 6px 6px 0 0;
            height: 36px;
            line-height: 36px;
            h3 {
                padding-left: 12px;
                line-height: 2.8;
                color: #999999;
                font-size: 14px;
            }
            span {
                padding-left: 10px;
                padding-right: 14px;
                cursor: pointer;
            }
        }
    }
    .main-cenrightbom {
        background-color: #ffffff;
        padding: 15px 0 20px 20px;
        .choose-spec,
        .choose-mb {
            margin-bottom: 12px;
            color: #666666;
            .dt {
                float: left;
                width: 75px;
                margin-right: 0;
                height: 36px;
                clear: both;
                font-size: 12px;
                line-height: 30px;
                color: #3a3a3a;
            }
            .choose-item-wrap {
                float: left;
                width: 515px;
                .choose-item {
                    position: relative;
                    float: left;
                    width: 160px;
                    height: 43px;
                    overflow: hidden;
                    font-family: helvetica, sans-serif;
                    line-height: 43px;
                    color: #3a3a3a;
                    text-align: center;
                    cursor: pointer;
                    border: 1px solid #cbcbcb;
                    outline: 1px solid #ffffff;
                    margin: 0 10px 5px 0;
                    padding: 0 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 12px;
                    img {
                        width: auto;
                        height: 100%;
                    }
                    &:nth-last-of-type(1) {
                        margin-right: 0;
                    }
                }
                .choose-itemactive {
                    border: 1px solid #ca151d;
                }
            }
            .listjiage {
                font-size: 20px;
                color: #dd2434;
                line-height: 30px;
            }
        }
        .choose-mb {
            margin-bottom: 20px;
            .dd {
                margin-left: 80px;
                line-height: 30px;
                color: #ca151d;
                font-size: 12px;
            }
        }
        .choose-num {
            span {
                display: inline-block;
                width: 30px;
                height: 38px;
                margin-right: 0;
                line-height: 38px;
                font-size: 14px;
                text-align: center;
                background: #f7f7f7;
                color: #3a3a3a;
                border: 1px solid #c6c6c6;
                border-radius: 0;
                cursor: pointer;
                user-select: none;
                &:nth-of-type(1) {
                    border-right: 0;
                }
                &:nth-of-type(2) {
                    border-left: 0;
                }
            }
            input {
                width: 60px;
                height: 38px;
                font-size: 14px;
                text-align: center;
                border-radius: 0;
                border: 0;
                padding: 0;
                border: 1px solid #c6c6c6;
                outline: none;
            }
        }
        .btn-wrap {
            margin: 20px 0 0 83px;
            margin-left: 0;
            font-size: 16px;
            text-align: center;
            span {
                display: inline-block;
                width: 207px;
                padding-left: 0;
                text-align: center;
                line-height: 53px;
                margin-right: 10px;
                cursor: pointer;
                &:nth-of-type(1) {
                    background: #ffffff;
                    border: 1px solid #ca151d;
                    color: #ca151d;
                }
            }
        }
    }
}

.mask {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    background-color: #333333;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    display: none;
}

.shuax {
    color: #008fd5;
    cursor: pointer;
}