#main {
    background: #ffffff;
    padding: 30px 0;
    overflow: hidden;
    .bread-nav {
        margin-bottom: 20px;
        font-size: 14px;
        span {
            color: #333333;
            &:nth-of-type(3) {
                color: #999999;
            }
        }
    }
    .main-centent {
        .main-sort {
            margin-bottom: 10px;
            .sort-centent {
                padding: 5px 10px;
                line-height: 35px;
                color: #333333;
                background: #e8e8e8;
                border-radius: 3px;
                font-size: 12px;
                .sort-left {
                    div {
                        display: inline-block;
                        // width: 50px;
                        // height: 36px;
                        cursor: pointer;
                        color: #333333;
                        span {
                            // display: inline-block;
                            // width: 100%;
                            display: block;
                            text-align: center;
                            background: #ffffff;
                            padding: 0 10px;
                            i {
                                font-size: 12px;
                            }
                        }
                        .activesort {
                            color: #ffffff;
                            background: #d62528;
                            // border: 1px solid #d62528;
                        }
                    }
                }
                .sort-right {
                    span {
                        color: #d62528;
                    }
                }
            }
        }
        .listul {
            padding: 10px 0;
            margin: 0 -5px;
            li {
                float: left;
                width: 230px;
                height: 330px;
                margin: 0 5px;
                margin-bottom: 12px;
                background: #ffffff;
                // position: relative;
                cursor: pointer;
                .commodity-right-pic {
                    margin: 54px auto 20px;
                    position: relative;
                    overflow: hidden;
                    width: auto;
                    text-align: center;
                    height: 200px;
                    vertical-align: middle;
                    &:hover {
                        .listcar {
                            bottom: 0px;
                        }
                    }
                    img {
                        width: auto;
                        max-height: 200px;
                        display: block;
                    }
                    .listcar {
                        right: 0;
                        bottom: -40px;
                        left: 0;
                        height: 40px;
                        font-size: 14px;
                        line-height: 40px;
                        color: #ffffff;
                        text-align: center;
                        cursor: pointer;
                        background: rgba(0, 0, 0, 0.5);
                        transition: all 0.4s ease;
                        position: absolute;
                        &:hover {
                            background-color: #ca1823;
                        }
                    }
                }
                .commodity-right-info {
                    padding: 0 20px;
                    .info-t {
                        text-align: center;
                        height: 17px;
                        line-height: 17px;
                        font-size: 17px;
                        font-weight: 400;
                        color: #333;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-bottom: 11px;
                    }
                    .info-c {
                        text-align: center;
                        height: 14px;
                        line-height: 14px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #b0b0b0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-bottom: 28px;
                    }
                    .info-b {
                        // position: absolute;
                        width: 100%;
                        // left: 0;
                        bottom: 50px;
                        // text-align: center;
                        span {
                            font-size: 17px;
                            font-weight: 500;
                            color: #cc0000;
                        }
                    }
                }
            }
        }
    }
}