#header {
  padding: 24px 0 16px 0;
  background: #fff;
}

#header .logo {
  max-width: 215px;
  max-height: 90px;
}

#center {
  padding: 30px 0;
}

#center .centerLeft {
  width: 55%;
}

#center .centerLeft img {
  margin-left: 100px;
}

#center .centerRight {
  width: 35%;
  margin-right: 10%;
}

#center .centerRight .centerLogin div {
  padding: 10px 30px 5px 30px;
}

#center .centerRight .centerLogin .form-dl {
  margin-bottom: 40px;
}

#center .centerRight .centerLogin .form-dl span {
  cursor: pointer;
  color: #0186d1;
  font-size: 16px;
}

#center .centerRight .centerLogin .form-dl span:nth-of-type(1) {
  color: #767676;
}

#center .centerRight .centerLogin .form-dl em {
  color: #ccc;
}

#center .centerRight .centerLogin .form-dl a {
  color: #666666;
  font-size: 12px;
  float: right;
  padding-top: 6px;
}

#center .centerRight .centerLogin .form-phon,
#center .centerRight .centerLogin .form-password,
#center .centerRight .centerLogin .form-code {
  margin-bottom: 10px;
}

#center .centerRight .centerLogin .form-phon .form-span,
#center .centerRight .centerLogin .form-password .form-span,
#center .centerRight .centerLogin .form-code .form-span {
  width: 100%;
  display: inline-block;
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 3px;
  height: 38px;
}

#center .centerRight .centerLogin .form-phon .form-span input,
#center .centerRight .centerLogin .form-password .form-span input,
#center .centerRight .centerLogin .form-code .form-span input {
  padding-right: 36px;
  height: 100%;
  width: 100%;
  padding-left: 6px;
}

#center .centerRight .centerLogin .form-phon .form-span .icon-dibudaohanglan-,
#center .centerRight .centerLogin .form-phon .form-span .icon-mima,
#center .centerRight .centerLogin .form-password .form-span .icon-dibudaohanglan-,
#center .centerRight .centerLogin .form-password .form-span .icon-mima,
#center .centerRight .centerLogin .form-code .form-span .icon-dibudaohanglan-,
#center .centerRight .centerLogin .form-code .form-span .icon-mima {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  color: #999999;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 30px;
}

#center .centerRight .centerLogin .form-code .form-codespan {
  width: 160px;
}

#center .centerRight .centerLogin .form-code #picyzm {
  display: inline-block;
  width: 100px;
  height: 36px;
  margin: 0 0px 0 5px;
}

#center .centerRight .centerLogin .form-code a {
  float: right;
  font-size: 12px;
  display: inline-block;
  line-height: 38px;
  vertical-align: middle;
}

#center .centerRight .centerLogin .form-code a i {
  color: #1766dd;
}

#center .centerRight .centerLogin .form-forget {
  margin-bottom: 10px;
  text-align: right;
  color: #666666;
  font-size: 12px;
}

#center .centerRight .centerLogin .form-btn button {
  width: 100%;
  height: 54px;
  background-color: #ca151d;
  color: #fff;
}

#center .centerRight .wbqq {
  margin-top: 20px;
  text-align: center;
}

#center .centerRight .wbqq img:nth-of-type(2) {
  margin: 0 10px;
}

#foot {
  height: 60px;
  border-top: 1px solid #efefef;
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
}

#foot a {
  color: #1766dd;
}
