#header {
    padding: 24px 0 16px 0;
    background: #fff;
    .logo {
        max-width: 215px;
        max-height: 90px;
    }
}

#center {
    padding: 30px 0;
    .centerLeft {
        width: 55%;
        img {
            margin-left: 100px;
        }
    }
    .centerRight {
        width: 35%;
        margin-right: 10%;
        .centerLogin {
            div {
                padding: 10px 30px 5px 30px;
            }
            .form-dl {
                margin-bottom: 40px;
                span {
                    cursor: pointer;
                    color: #0186d1;
                    font-size: 16px;
                    &:nth-of-type(1) {
                        color: #767676;
                    }
                }
                em {
                    color: #ccc;
                }
                a {
                    color: #666666;
                    font-size: 12px;
                    float: right;
                    padding-top: 6px;
                }
            }
            .form-phon,
            .form-password,
            .form-code {
                margin-bottom: 10px;
                .form-span {
                    // width: 350px;
                    width: 100%;
                    display: inline-block;
                    position: relative;
                    // padding: 2px;
                    border: 1px solid #cccccc;
                    border-radius: 3px;
                    height: 38px;
                    // line-height: 36px;
                    input {
                        padding-right: 36px;
                        height: 100%;
                        width: 100%;
                        padding-left: 6px;
                    }
                    .icon-dibudaohanglan-,
                    .icon-mima {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 18px;
                        color: #999999;
                        text-align: center;
                        width: 36px;
                        height: 36px;
                        line-height: 30px;
                    }
                }
            }
            .form-code {
                .form-codespan {
                    width: 160px;
                }
                #picyzm {
                    display: inline-block;
                    width: 100px;
                    height: 36px;
                    margin: 0 0px 0 5px;
                }
                a {
                    float: right;
                    font-size: 12px;
                    display: inline-block;
                    line-height: 38px;
                    vertical-align: middle;
                    i {
                        color: #1766dd;
                    }
                }
            }
            .form-forget {
                margin-bottom: 10px;
                text-align: right;
                color: #666666;
                font-size: 12px;
            }
            .form-btn {
                button {
                    width: 100%;
                    height: 54px;
                    background-color: #ca151d;
                    color: #fff;
                }
            }
        }
        .wbqq {
            margin-top: 20px;
            text-align: center;
            img {
                &:nth-of-type(2) {
                    margin: 0 10px;
                }
            }
        }
    }
}

#foot {
    height: 60px;
    border-top: 1px solid #efefef;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
    a {
        color: #1766dd;
    }
}